<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="m-n-contest.ZPM">
    <Module>
      <Name>m-n-contest</Name>
	  <Description>Analyze OEX Contests</Description> 
      <Version>0.0.2</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.rcc.PKG"/>
      <Resource Name="dc.rcc.ContestD.GBL"/>
      <Resource Name="dc.rcc.WinnerD.GBL"/>
      <Author>
    	<Person>Robert C. Cemper</Person>
	<CopyrightDate>2022</CopyrightDate>
	<License>MIT</License>
	<Notes>
		repository: https://github.com/isc-at/M-N_COntests
	</Notes>
    </Author>	    
    </Module>
  </Document>
</Export>
